{% extends "layout.jinja2" %}

{% block head_scripts %}

    <link rel="manifest" href="{{ url_for('static', path='manifest.json') }}">
    <link rel="icon" href="{{ url_for('static', path='dist/img/favicon.ico') }}" type="image/x-icon"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', path='dist/map.css') }}">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js"
            charset="utf-8"></script>

{% endblock %}

{% block content %}

    {#  Header block with buttons and notifications  #}
    <div class="header">
        <div class="row justify-content-between">
            <div class="col-9 col-md-11">
                <div id="markers-description" class="top-badge roundBtn ms-3 my-2 py-2 px-2 d-none text-warning"></div>
                <div id="update-err" class="top-badge roundBtn ms-3 my-2 py-2 px-2 d-none text-danger">Update error.
                    Please try
                    later
                </div>
            </div>
            <div class="col-3 col-md-1">
                <button type="button" class="btn btn-light my-2 ms-md-2 ms-3 roundBtn" id="settingsBtn"
                        data-bs-toggle="modal"
                        data-bs-target="#settingsModal"><i class="fa-solid fa-gear fa-xl"></i></button>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-3">
                <button type="button" class="btn btn-primary px-4 roundBtn" id="updateButton" onclick="updateClick()">
                    Updating...
                </button>
            </div>
        </div>
    </div>

    <div id="listBtnContainer">
        <button type="button" class="btn btn-light my-2 ms-md-2 roundBtn" id="listBtn" data-bs-toggle="modal"
                data-bs-target="#listModal" onclick="listRender()"><i class="fa-solid fa-list fa-xl"></i></button>
    </div>

    {#  Map itself  #}
    <div class="container-fluid map">
        <div class="row" style="height: 100%;">
            <div id="map">
            </div>
        </div>
    </div>

    {#  Settings modal  #}
    <div class="modal fade" id="settingsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Data source:</label>
                    <select class="form-select" id="sourceSelector" aria-label="Default select example">
                        <option value="dejup_native">upDejeuner native</option>
                        <option value="dejup_complemented" selected>upDejeuner OSM+Google</option>
                        <option value="edenred_native">Edenred native</option>
                        <option value="edenred_complemented">Edenred OSM+Google</option>
                    </select>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="autoUpdateSwitch">
                        <label class="form-check-label" for="autoUpdateSwitch">Map auto-update</label>
                    </div>
                    <div class="mt-3">
                        <label for="customRange2" class="form-label">Places on screen: <span
                                id="placesNum"></span></label>
                        <input type="range" class="form-range" min="100" max="1000" step="10" id="placeRange">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveSettings()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {#  List modal  #}
    <div class="modal fade" id="listModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Restaurants</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="listBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer px-1">
        <a href="https://gitlab.com/geoplaces/orchestrator" target="_blank" class="ms-2"><i
                class="bi bi-github"></i>&nbsp;Source code</a>
    </div>

    <script src="{{ url_for('static', path='dist/map.js') }}?v3"></script>


{% endblock %}